.dark-mode {
    background-color: black;
    color: white; 
}

.dark-mode .card {
    background-color: black; 
    color: white; 
}

.dark-mode .navbar {
    background-color: black;
}

.dark-mode .navbar a {
    color: white; /
}